@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile color scheme override */
@media (max-width: 767px) {
  :root {
   background-color: #151419;
  }

  html, body, #root {
    background-color: #151419;
    color: #FFF4E0;
  }
}

